
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  text-align: center;
  background: #060725;
  font-family: 'Roboto',sans-serif;
  min-height: 100vh;
  color:  white;
  padding: 20px;
  position: relative;
}

.cards{
  display: flex;
  flex-wrap: wrap;
}
.side{
  position: absolute;
  min-height: 100vh;
  align-items: center;
}